<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Devour a Burger!</title>
        
        {{!-- Link to CSS --}}
        <link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />
        {{!-- Link to JQuery --}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
